{
  "dev": {
    "comment": "Development version: virtual device",
    "api_key": "VIRTUAL_API_KEY",
    "api_secret": "VIRTUAL_API_SECRET",
    "subscription_id": "VIRTUAL_SUBSCRIPTION_ID"
  },

  "prod": {
    "comment": "Production version: real device",
    "api_key": "REAL_API_KEY",
    "api_secret": "REAL_API_SECRET",
    "subscription_id": "REAL_SUBSCRIPTION_ID"
  }
}